# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.brf
*.dvi
*.ps
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.run.xml
*.bcf
*-blx.bib

# backup files
*.bak
*~
*.backup

# editor
*.swp
*.swo
